@tailwind base;
@tailwind components;
@tailwind utilities;

/* styles/hover-styles.css */
@import 'hover.css/css/hover.css';
/* Your custom styles and hover effects can be added here */


.hvr-bounce-to-left:before{
    background-color: #0180EB !important;
}

.hvr-bounce-to-right:before{
    background-color: #232630 !important;
}

.hvr-underline-from-center:before{
  background-color: #0180EB !important;
}


.bg-gradient {
  background-color: transparent;
  background-image: linear-gradient(50deg, #00D4FB 1%, #2736F7 100%);
}

.text-gradient {
  background-color: transparent;
  background-image: linear-gradient(143deg, #00D4FB 0%, #2736F7 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


.bg1{
  background-image:linear-gradient(to bottom, rgba(22, 22, 22, 0.52), rgba(22, 22, 22, 0.52)),;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.bg1{
  background-image: url(./img/bg.svg);
  background-position: end;
  background-size: cover;
  background-repeat: no-repeat;
}

.work_bg {
  position: relative;
  background: linear-gradient(270deg, #1d237a, #000046, #134a7f, #1d237a);
  background-size: 1000% 1000%;
}
.work_bg_img{
  background-image:linear-gradient(to bottom, #1d237adc, #134b7fea) ,url(./img/work_bg_img.svg);
  background-position: end;
  background-size: cover;
  background-repeat: repeat-x;
}

.video-area {
  position: absolute;
  left: 50%;
  transform: translateX(-50px);
}

.img_animation {
  opacity: .5;
  animation: rotate 8s linear infinite;
}

.text-transform {
  font-family: var(--font-saira);
  font-weight: 600;
  line-height: 1;
  text-transform: uppercase;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px rgba(255,255,255,.08);
  margin-bottom: 30px;
}

.text-transform-2 {
  font-family: var(--font-saira);
  font-weight: 600;
  line-height: 1;
  text-transform: uppercase;
  color: white;
  opacity: .08;
}

.contact-btn{
  width: 259px;
  height: 259px;
  border: 1px solid rgba(255,255,255,.2);
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 25px;
  color: white;
  border-radius: 50%;
  background-size: cover;
  background-color: #22262A;
  background-repeat: no-repeat;
  padding: 55px;
  transition: .8s;
  text-align: start;
  opacity: 10;
}

.contact-btn:hover {
  border-color: #fff;
  box-shadow: inset 0 0 0 10em var(#027EEC);
  color: #fff;
  background-color: #027EEC;
}


.marquee-container {
  width: 100%;
  overflow: hidden;
}

.marquees {
  display: flex;
  animation: marquees 50s linear infinite;
  white-space: nowrap;
}

@keyframes marquees {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}